/*Definicion de colores que pueden variar*/
:root{
    --color--principal:#FFFFFF;
    --color--secundario:#04B4E0;
    --color--iconos:#B5B6B7;
    --color--titulo:#222222;
    --color--subtitulo:#888;
    --color--texto:#555555;
    --color--fondo:#F2F7F9;
    --color--transparente: transparent;
}
/*Estilos Generales*/
html{
    font-size: 10px;
}
body{
    width: 100%;
    height: auto;
    font-family: "Poppins", sans-serif, Helvetica;
    font-size: 1.5rem;
    background-color: var(--color--fondo);
    color: var(--color--texto);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6{
    color: var(--color--titulo);
}

/*Imagen de fondo*/ 
body{
    background-image: url(/assets/img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50px -126px;

}

/*Estructura Principal*/
.layout{
    display: grid;
    grid-template-areas: "aside content";
    grid-template-columns: 30% 70%;
    position: relative;
    min-width: 1290px;
    width: 75%;
    height: 80vh;
    min-height: 80vh;
    margin: 10vh auto;
    border-radius: 4rem ;
    box-shadow: 0 0 100px -5px rgba(0, 0, 0 , 0.25);
}

/*Barra del usuario*/
.layout__aside{
    grid-area: aside;
    border-radius: 4rem 0 0 4rem;
    overflow: auto;
    overflow-x: hidden;
}
.aside__userInfo{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 100%;
    min-width: 30rem;
    background-color: var(--color--secundario);
    color: var(--color--principal);
}

.userInfo__containerImg{
    position: relative;
    display: inline-block;
    width: 18rem;
    margin-top: 7rem;
    z-index: 1;
}

.userInfo__imagen{
    width: 100%;   
    height: 18.5rem;
    background-color: var(--color--principal);
    border: 3px solid var(--color--principal);
    border-radius: 20rem;
}

.userInfo__containerImg::after{
    content: "" ;
    position: absolute;
    top: 5%;
    left: 9%;
    z-index: -1;
    width: 96%;
    height: 100%;
    border-radius: 30rem;
    background-image: -webkit-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    background-size: 0.6rem 0.6rem;
    opacity: 0.3;
}

.userInfo__nombre{
    margin-top: 2.6rem;
    font-size: 3.2rem;
    color: var(--color--principal);
}
.userInfo--trabajo{
    font-size: 1.7rem;
    font-weight: 200;
    color: var(--color--principal);
}

.userInfo__userLink{
    margin-bottom: 3.6rem;
}
.userLink__redes{
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.redes__opcion{
    height: 3rem;
    width: 3rem;
    font-size: 1.8rem;
    line-height: 3.2rem;
    opacity: 0.9;
    border-radius: 3rem;
    transition: all 300ms linear;
}
.redes__opcion:hover{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.20);
    
}
.userInfo__boton{
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.userInfo__botonCV{
    padding: 3rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border: 2px solid var(--color--principal);
    border-radius: 3.2rem;
    color: var(--color--principal);
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.20);
}

.userInfo__botonCV:hover{
    background-color: var(--color--principal) ;
    color: var(--color--secundario);
    transition: all 300ms ease-in-out;
}
.userInfo__footer{
    position: absolute;
    bottom: 2rem;
    font-size: 1,2rem;
}

/*Contenido principal*/
.layout__content{
    grid-area: content;
    height: 100%;
    min-height: 100%;
    background-color: var(--color--secundario);
    border-radius: 0 10rem 10rem 0;
}
.content__pag{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    min-height: 100%;
    background-color: var(--color--principal);
    border-radius: 3.2rem;
}
.pag__nombre{
    font-size: 6rem;
    margin-bottom: 1rem;
    color: var(--color--titulo);
}
.pag__trabajo{
    font-size: 2.1rem;
    font-weight: lighter;
    color: var(--color--subtitulo);
}

/*Menu de navegacion*/
/* .layout__menu{
    display: block;
    position: absolute;
    top: 0;
    right: -135px;
    min-width: 10rem;
    background-color: var(--color--transparente);
} */
.layout__menu{
    display: block;
    position: absolute;
    top: 0;
    right: -80px;
    min-width: 5.5rem;
    background-color: var(--color--transparente);
}
/* .menu__list{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color--principal);
    width: 60%;
    min-height: 32rem;
    padding: 2rem 0;
    margin-left:2,5rem;
    box-shadow: 0 0 3rem --0.5rem rgba(0, 0, 0 , 0.15);
    border-radius: 5rem;
} */
.menu__list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color--principal);
    width: 100%;
    min-height: 32rem;
    padding: 2rem 0;
    margin-left: 2,5rem;
    box-shadow: 0 0 3rem --0.5rem rgba(0, 0, 0 , 0.15);
    border-radius: 5rem;
}
.menu__option{
    display: block;
    width: 100%;
    text-align: center;
}
.menu__option:hover .menu__icon{
    color: var(--color--secundario);
    font-size: 2.8rem;
    transition: all 300ms ease-in-out;
}
.menu__icon{
    color: var(--color--iconos);
    font-size: 2.8rem;
}
/* .menu__overlay{
    display: block;
    position: absolute;
    right: 0px;
    margin-top: -3rem;
    padding: 0.5rem 1rem;
    opacity: 0;
    color: var(--color--principal);
    background-color: var(--color--secundario);
    white-space: nowrap;
    transition: all 300ms ease-in-out;
    border-radius: 1.5rem;
    width: 6rem;
} */
.menu__overlay {
    display: block;
    position: absolute;
    right: 0px;
    margin-top: -3rem;
    padding: 0.5rem 1rem;
    opacity: 0;
    color: var(--color--principal);
    background-color: var(--color--secundario);
    white-space: nowrap;
    transition: all 300ms ease-in-out;
    border-radius: 1.5rem;
    width: 6rem;
    overflow: hidden;
}

.menu__option:hover .menu__overlay{
    width: 14rem;
    opacity: 1;
    right: 100%;
}


/*SobreMi*/
.content__sobreMi{
    display: block;
    height: 100%;
    min-height: 100%;
    padding: 6rem;
    padding-right: 3rem;
    overflow: auto;
}
.sobreMi__header{
    display: inline-block;
    margin-bottom: 4.5rem;
}
.sobreMi__titulo{
    font-size: 3.2rem;
    position: relative;
}
.sobreMi__titulo-span{
    color: var(--color--secundario);
}
.sobreMi__titulo::after{
    content: "";
    position: absolute;
    top: 20px;
    right: -25px;
    width: 50px;
    height: 30px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color--secundario), var(--color--secundario) 1px, transparent 0px, transparent 100% );
    background-size: 6px 6px;
    opacity: 0.25;
}

/* Informacion personal */
.sobreMI__informacion{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 8rem;
}
.informacion__biografia{
    flex-basis: 60%;
}
.informacion__datos{
    padding: 0 2.5rem;
    flex-basis: 40%;
}
.informacion__descripcion{
    font-size: 1.55rem;
    line-height: 2.4rem;
}
.informacion__opcion{
    margin-bottom: 1rem;
    font-size: 1.55rem;
}
.informacion__titulo{
    margin-right: 0.5rem;
    color: var(--color--secundario);
    font-weight: 600;
    font-size: 1.8rem;
}
/* Servicios */
.sobreMi__quehago{
    width: 100%;
    margin-bottom: 3rem;
}
.quehago__header{
    display: inline-block;
    padding-right: 1.2rem;
    position: relative;
}
.quehago__titulo{
    font-size: 2.6rem;
    margin-bottom: 1.8rem;
}
.quehago__titulo::after{
    content: "";
    position: absolute;
    top: 14px;
    right: 0px;
    width: 40px;
    height: 25px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color--secundario), var(--color--secundario) 1px, transparent 0px, transparent 100% );
    background-size: 6px 6px;
    opacity: 0.35;
}
.quehago__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10rem;
}
.quehago__servicio{
    flex-basis: calc(50% - 5rem);
    margin-right: 5rem;
    margin-bottom: 4rem;
}
.servicio__icon .fa-solid{
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 4rem;
    color: var(--color--secundario);
}
.servicio__contenido{
    width: 100%;
}
.servicio__contenido-titulo{
    font-size: 2rem;
    margin: 1.4rem 0;

}
.servicio__contenido-descripcion{
    font-size: 1.5rem;
    text-align: justify;
}