/*Definicion de colores que pueden variar*/
:root{
    --color--principal:#FFFFFF;
    --color--secundario:#04B4E0;
    --color--iconos:#B5B6B7;
    --color--titulo:#222222;
    --color--subtitulo:#888;
    --color--texto:#555555;
    --color--fondo:#F2F7F9;
    --color--transparente: transparent;
    --color-borde-referencias: #e5e6e7;
    --color-compania:a5a6a7;
}
/*Estilos Generales*/
html{
    font-size: 10px;
}
body{
    width: 100%;
    height: auto;
    font-family: "Poppins", sans-serif, Helvetica;
    font-size: 1.5rem;
    background-color: var(--color--fondo);
    color: var(--color--texto);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6{
    color: var(--color--titulo);
}

/*Imagen de fondo*/ 
body{
    background-image: url(/assets/img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50px -126px;

}

/*Estructura Principal*/
.layout{
    display: grid;
    grid-template-areas: "aside content";
    grid-template-columns: 30% 70%;
    position: relative;
    min-width: 1290px;
    width: 75%;
    height: 80vh;
    min-height: 80vh;
    margin: 10vh auto;
    border-radius: 4rem ;
    box-shadow: 0 0 100px -5px rgba(0, 0, 0 , 0.25);
}

/*Barra del usuario*/
.layout__aside{
    grid-area: aside;
    border-radius: 4rem 0 0 4rem;
    overflow: auto;
    overflow-x: hidden;
}
.aside__userInfo{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 100%;
    min-width: 30rem;
    background-color: var(--color--secundario);
    color: var(--color--principal);
}

.userInfo__containerImg{
    position: relative;
    display: inline-block;
    width: 18rem;
    margin-top: 7rem;
    z-index: 1;
}

.userInfo__imagen{
    width: 100%;   
    height: 18.5rem;
    background-color: var(--color--principal);
    border: 3px solid var(--color--principal);
    border-radius: 20rem;
}

.userInfo__containerImg::after{
    content: "" ;
    position: absolute;
    top: 5%;
    left: 9%;
    z-index: -1;
    width: 96%;
    height: 100%;
    border-radius: 30rem;
    background-image: -webkit-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    background-size: 0.6rem 0.6rem;
    opacity: 0.1;
}

.userInfo__nombre{
    margin-top: 2.6rem;
    font-size: 3.2rem;
    color: var(--color--principal);
}
.userInfo--trabajo{
    font-size: 1.7rem;
    font-weight: 200;
    color: var(--color--principal);
}

.userInfo__userLink{
    margin-bottom: 3.6rem;
}
.userLink__redes{
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.redes__opcion{
    height: 3rem;
    width: 3rem;
    font-size: 1.8rem;
    line-height: 3.2rem;
    opacity: 0.9;
    border-radius: 3rem;
    transition: all 300ms linear;
}
.redes__opcion:hover{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.20);
    
}
.userInfo__boton{
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.userInfo__botonCV{
    padding: 3rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border: 2px solid var(--color--principal);
    border-radius: 3.2rem;
    color: var(--color--principal);
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.20);
}

.userInfo__botonCV:hover{
    background-color: var(--color--principal) ;
    color: var(--color--secundario);
    transition: all 300ms ease-in-out;
}
.userInfo__footer{
    position: absolute;
    bottom: 2rem;
    font-size: 1,2rem;
}

/*Contenido principal*/
.layout__content{
    grid-area: content;
    height: 100%;
    min-height: 100%;
    background-color: var(--color--secundario);
    border-radius: 0 10rem 10rem 0;
}
.content__pag{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    min-height: 100%;
    background-color: var(--color--principal);
    border-radius: 3.2rem;
}
.pag__nombre{
    font-size: 6rem;
    margin-bottom: 1rem;
    color: var(--color--titulo);
}
.pag__trabajo{
    font-size: 2.1rem;
    font-weight: lighter;
    color: var(--color--subtitulo);
}

/*Menu de navegacion*/
/* .layout__menu{
    display: block;
    position: absolute;
    top: 0;
    right: -135px;
    min-width: 10rem;
    background-color: var(--color--transparente);
} */
.layout__menu{
    display: block;
    position: absolute;
    top: 0;
    right: -80px;
    min-width: 5.5rem;
    background-color: var(--color--transparente);
}
/* .menu__list{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color--principal);
    width: 60%;
    min-height: 32rem;
    padding: 2rem 0;
    margin-left:2,5rem;
    box-shadow: 0 0 3rem --0.5rem rgba(0, 0, 0 , 0.15);
    border-radius: 5rem;
} */
.menu__list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color--principal);
    width: 100%;
    min-height: 32rem;
    padding: 2rem 0;
    margin-left: 2,5rem;
    box-shadow: 0 0 3rem --0.5rem rgba(0, 0, 0 , 0.15);
    border-radius: 5rem;
}
.menu__option{
    display: block;
    width: 100%;
    text-align: center;
}
.menu__option:hover .menu__icon, .menu__link--active .menu__icon{
    color: var(--color--secundario);
    font-size: 2.8rem;
    transition: all 300ms ease-in-out;
}
.menu__icon{
    color: var(--color--iconos);
    font-size: 2.8rem;
}
/* .menu__overlay{
    display: block;
    position: absolute;
    right: 0px;
    margin-top: -3rem;
    padding: 0.5rem 1rem;
    opacity: 0;
    color: var(--color--principal);
    background-color: var(--color--secundario);
    white-space: nowrap;
    transition: all 300ms ease-in-out;
    border-radius: 1.5rem;
    width: 6rem;
} */
.menu__overlay {
    display: block;
    position: absolute;
    right: 0px;
    margin-top: -3rem;
    padding: 0.5rem 1rem;
    opacity: 0;
    color: var(--color--principal);
    background-color: var(--color--secundario);
    white-space: nowrap;
    transition: all 300ms ease-in-out;
    border-radius: 1.5rem;
    width: 6rem;
    overflow: hidden;
    z-index: 1;
}

.menu__option:hover .menu__overlay{
    width: 14rem;
    opacity: 1;
    right: 100%;
    z-index: 1;
}


/*Estilos generales SobreMi,Conocimientos,Portafolio */
.content__sobreMi,
.content__Conocimientos,
.content__portafolio,
.content__blog{
    display: block;
    height: 100%;
    min-height: 100%;
    padding: 6rem;
    padding-right: 3rem;
    overflow: auto;
}
.sobreMi__header,
.Conocimientos__header,
.portafolio__header,
.blog__header{
    display: inline-block;
    margin-bottom: 4.5rem;
}
.sobreMi__titulo,
.Conocimientos__titulo,
.portafolio__titulo,
.blog__titulo{
    font-size: 3.2rem;
    position: relative;
}
.sobreMi__titulo-span{
    color: var(--color--secundario);
}
.sobreMi__titulo::after,
.Conocimientos__titulo::after,
.portafolio__titulo::after,
.blog__titulo::after    {
    content: "";
    position: absolute;
    top: 20px;
    right: -25px;
    width: 50px;
    height: 30px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color--secundario), var(--color--secundario) 1px, transparent 0px, transparent 100% );
    background-size: 6px 6px;
    opacity: 0.25;
}

/* Informacion personal */
.sobreMI__informacion{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 8rem;
}
.informacion__biografia{
    flex-basis: 60%;
}
.informacion__datos{
    padding: 0 2.5rem;
    flex-basis: 40%;
}
.informacion__descripcion{
    font-size: 1.55rem;
    line-height: 2.4rem;
}
.informacion__opcion{
    margin-bottom: 1rem;
    font-size: 1.55rem;
}
.informacion__titulo{
    margin-right: 0.5rem;
    color: var(--color--secundario);
    font-weight: 600;
    font-size: 1.8rem;
}
/* Servicios */
.sobreMi__quehago,
.sobreMi__referencias,
.sobreMi__Clientes,
.sobreMi__Precios,
.sobreMi__informacionExtra{
    width: 100%;
    margin-bottom: 3rem;
}
.quehago__header,
.referencias__header,
.Clientes__header,
.Precios__header,
.informacionExtra__header,
.Container__izquierda-header,
.Container__derecha-header,
.rensumenSertificados__subheader{
    display: inline-block;
    padding-right: 1.2rem;
    position: relative;
}
.quehago__titulo,
.referencias__header-titulo
.Clientes__titulo,
.Precios__header-titulo,
.informacionExtra__header-titulo,
.Container__izquierda-titulo,
.Container__derecha-titulo,
.reusumenSertificado__subtitulo{
    font-size: 2.6rem;
    margin-bottom: 1.8rem;
}
.quehago__titulo::after,
.referencias__header-titulo::after,
.Clientes__titulo::after,
.Precios__header-titulo::after,
.informacionExtra__header-titulo::after,
.Container__izquierda-titulo::after,
.Container__derecha-titulo::after,
.reusumenSertificado__subtitulo::after{
    content: "";
    position: absolute;
    top: 14px;
    right: 0px;
    width: 40px;
    height: 25px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color--secundario), var(--color--secundario) 1px, transparent 0px, transparent 100% );
    background-size: 6px 6px;
    opacity: 0.35;
}
.quehago__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 4rem;
}
.quehago__servicio{
    flex-basis: calc(50% - 5rem);
    margin-right: 5rem;
    margin-bottom: 4rem;
}
.servicio__icon .fa-solid{
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 4rem;
    color: var(--color--secundario);
}
.servicio__contenido{
    width: 100%;
    text-align: justify;
}
.servicio__contenido-titulo{
    font-size: 2rem;
    margin: 1.4rem 0;

}
.servicio__contenido-descripcion{
    font-size: 1.5rem;
}

/* Referencias */
.referencias__header-titulo{
    margin-bottom: 8rem;
}
.referencias__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.referencias__referenciaDePersonas{
    flex-basis: calc(50% - 3rem);
    margin-right: 3rem;
    border: 2px solid var(--color-borde-referencias);
    border-radius: 2rem;
    padding: 0 2.5rem 1.5rem 2.5rem;
}
.referenciasDePersonas__img{
    width: 100%;
}
.referenciasDePersonas__imagen{
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 10rem;
    margin: 0 auto;
    margin-top: -4.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 10px 10px -6px rgba(0, 0, 0 , 0.25);
}
.referenciaDePersonas__opinion{
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: justify;
    margin-bottom: 1rem;
}
.referenciasDePersonas__DatosDeReseña{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.DatosDeReseña__Nombre{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}
.DatosDeReseña__empresa{
    color: var(--color-compania);
    font-weight: 300;
    font-size: 1.3rem;
}
.DatosDeReseña__icon{
    font-size: 4rem;
    color: var(--color--secundario);
    opacity: 0.5;
}

/* Clientes */
.sobreMi__Clientes{
    width: 100%;
    margin-bottom: 3rem;
}
.Clientes__header{
    margin-bottom: 3rem;
}
.Clientes__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Cliente__img{
    width: 145px;
    padding: 1rem;
    margin-bottom: 1.5rem;
}
.Clientes__link{
    display: block;
    width: 100%;
    opacity: 0.7;
}
.Clientes__link:hover{
    opacity: 1;
    transition: all 300ms linear;
}

/* Precios */

.Precios__container{
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
}
.Precios__container-box{
    flex-basis: 50%;
    margin-right: 3rem;
    padding: 3rem;
    border: 2px solid var(--color-borde-referencias);
    border-radius: 1.5rem;
    text-align: center;
    transition: all 300ms ease-in-out;
}
.Precios__container-box:hover{
    box-shadow: 0 18px 24px -5px rgba(0, 0, 0 , 0.15);
    transform: translateY(-1.2rem);
}
.Precios__container-box:last-of-type{
    margin-right: 0;
}
.Precios__container-box:hover .Precios__subtitulo-text::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 2px;
    background-color: var(--color--secundario);
    transition: all 300ms ease-in-out;
}
.Precios__container-subtitulo{
    margin-bottom: 3rem;
}

.Precios__subtitulo-text{
    position: relative;
    display: inline-block;
    font-size: 2rem;
}
.Precios__container-precio{
    padding-bottom: 1rem;
}
.Precios__numero{
    display: block;
    font-size: 4.2rem;
    line-height: 1;
    color: var(--color--titulo);
}
.Precios__avisos{
    color: var(--color--texto);
    display: block;
}
.Precios__container-comprar{
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}
.Precios__container-link{
    display: inline-block;
    border: 2px solid var(--color--subtitulo);
    padding: 1.2rem 3.1rem;
    box-shadow: 0 10px 10px -5px var(--color-borde-referencias);
    border-radius: 3rem;
    transition: all 300ms ease-in-out;
}
.Precios__container-link:hover{
    background-color: var(--color--secundario);
    color: var(--color--principal);
    border: 2px solid var(--color--secundario);
}
.Precios__container-cursos{
    font-size: 1.5rem;
    padding: 0.6rem 0;
}

/* Informacion extra */
.informacionExtra__container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.infromacionExtra__container-info{
    flex-basis: 30%;
    padding: 2.5rem 1rem;
    text-align: center;
    border-radius: 1rem;
    border: 2px solid var(--color-borde-referencias);
    transition: all 300ms ease-in-out;
}
.infromacionExtra__container-info:hover{
    box-shadow: 0 18px 24px -5px rgba(0, 0, 0 , 0.15);
    transform: translateY(-0.5rem);
}
.informacionExtra__container-icon{
    font-size: 3.3rem;
    color: var(--color--secundario);
    margin-bottom: 1rem;
}
.informacionExtra__container-titulo{
    font-size: 1.5rem;
    margin: 1.5rem;
}
.informacionExtra__container-span{
    display: block;
    font-size: 3.6rem;
    line-height: 5rem;
    margin: 1.5rem 1;
    color: var(--color--subtitulo);
}

/* Estilos para conocimientos */
.Conocimientos__container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.Conocimientos__container-izquierda{
    flex-basis: 58%;
    margin-right: 1.5rem;
}
.container__izquierda-timeLine{
    margin-bottom: 5rem;
}
.timeLine__item{
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
}
.timeLine__header{
    flex-basis: 30%;
    text-align: right;
    padding-right: 2.5rem;
}
.timeLine__año{
    margin: 0.3rem 0;
    line-height: 1.9rem;
    font-size: 1.4rem;
}
.timeLine__estudio{
    display: block;
    font-size: 1.3rem;
    font-weight: lighter;
    color: var(--color--subtitulo);
}
.timeLine__descripcion{
    width: 70%;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
}
.timeLine__titulo{
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
}
.timeLine__text{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.timeLine__divisor{
    position: absolute;
    top:0;
    left: 30%;
    bottom: -18px;
    width: 1px;
    background-color: var(--color--scrollbar);
}
.timeLine__divisor::before{
    content: "";
    position: absolute;
    margin-top: 0.4rem;
    margin-left: -0.8rem;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 10rem ;
    background-color: var(--color--secundario);
    opacity: 0.25;
}
.timeLine__divisor::after{
    content: "";
    position: absolute;
    margin-top: 0.8rem;
    margin-left: -0.4rem;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 10rem ;
    border: 2px solid var(--color--secundario);
    background-color: var(--color--principal);
}


.Conocimientos__container-derecha{
    flex-basis: 41%;
    padding: 0 1.5rem;
}
.Conocimientos__skills{
    width: 100%;
}
.skills__titulo{
    display: flex;
    justify-content: space-between;
}
.skills__text{
    font-size: 1.5rem;
    line-height: 1.7rem;
    margin-bottom: 0.8rem;
}
.skills__number{
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-bottom: 0.4rem;
    color: var(--color--subtitulo);
}
.Conocimientos__progressbar{
    height: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid var(--color--secundario);
    border-radius: 1rem;
    background-color: var(--color--principal);
}
.skills__porcentaje{
    height: 0.8rem;
    background-color: var(--color--secundario);
    border: 2px solid var(--color--principal);
    border-radius: 1rem;
}
.skills__porcentaje--p1,
.skills__porcentaje--p4,
.skills__porcentaje--p5,
.skills__porcentaje--p8{
    width: 90%;
}
.skills__porcentaje--p2,
.skills__porcentaje--p6{
    width: 75%;
}
.skills__porcentaje--p3,
.skills__porcentaje--p7{
    width: 80%;
}
.knowledges__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.knowledges__opcion{
    margin: 0.3rem 0.4rem;
    padding: 0.4rem 1rem;
    font-size: 1.4rem;
    background-color: var(--color--secundario);
    border-radius: 0.3rem;
    color: var(--color--principal);
}
.resumenSertificado__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}
.certificados_item{
    display: flex;
    flex-direction: row;
    flex-basis: calc(50% - 1.5rem);
    border: 1px  solid var(--color-borde-referencias);
    border-radius: 0.8rem;
}
.cetificados__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 15rem;
    padding: 2.5rem;
    background-color: #f5f5f5;
}
.certificados__imagen{
    width: 100%;
}
.centificados__contenido{
    padding: 2rem 2.5rem;
}
.certificados__titulo{
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}
.certificados__id{
    display: block;
    margin-bottom: 0.3rem;
    font-size: 1.3rem;
    color: var(--color--subtitulo);
}
.certificados__dia{
    font-size: 1.2rem;
    color: var(--color--subtitulo);
}
/* Portafolio */
.content__portafolio{
    overflow: hidden;
}
.portafolio__nav{
    margin-bottom: 3rem;
}
.portafolio__nav--list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.portafolio__nav--item{
    font-size: 1,3rem;
    opacity: 0.7;
}
.portafolio__nav--active{
    opacity: 1;
}
.portafolio__nav--link{
    cursor: pointer;
    text-decoration: none;
}
.portafolio__nav--link:hover{
    color: var(--color--secundario);
    text-shadow: 0 0 1px rgba(0, 0, 0 , 0.25);
}
.portafolio__gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}
.gallery__item{
    flex-basis: 33%;
    padding: 0.7rem;
    position: relative;
}
.gallery__container-img{
    overflow: hidden;
}
.gallery__img{
    min-height: 19.95rem;
    width: 100%;
    background-color: #04B4E0;
    transition: all 300ms ease-in-out;
}
.gallery__img:hover{
    transform: scale(1.1);
}

.gallery__titulo{
    font-size: 1.6rem;
    padding: 1.5rem 0;
    font-weight: bold;
}
.gallery__icon{
    opacity: 0;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.6rem;
    line-height: 3rem;
    text-align: center;
    background-color: var(--color--principal);
    color: var(--color--secundario);
    transition: all 400ms ease-in-out;
    padding-top: 0.7rem;
    border-radius: 1.5rem;
}
.gallery__category{
    opacity: 0;
    position: absolute;
    top:1.5rem;
    left: 1.5rem;
    padding: 0.2rem 1rem;
    color: var(--color--texto);
    background-color: var(--color--principal);
    transition: all 400ms ease-in-out;
    border-radius: 1.5rem;
}
.gallery__item:hover .gallery__icon,
.gallery__item:hover .gallery__category{
    opacity: 1;
}