html{
    font-size: 10px;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right bottom, rgb(14, 68, 184) ,rgb(16, 207, 16),green);
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: 60rem;
    background: linear-gradient(to bottom, rgb(39, 38, 38) ,rgb(0, 0, 0), 
    rgb(39, 38, 38), black);
    border-radius: 3rem;
    overflow: hidden;
    border: 4px solid rgba(160, 63, 63, 0.87);
    transition: all 300ms ease-in-out;
}
.container-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-bottom: 5px solid rgba(160, 63, 63, 0.87);
}
.container-img img{
    position: relative;
    background-color: aquamarine;
    left: -24rem;
    height: 100%;
    transition: all 300ms ease-in-out;
}
.descripcion{
    width: 100%;
    height: 15rem;
    text-align: center;
    color: rgba(160, 63, 63, 0.87);
}
.titulo{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    text-shadow: 0px 0px 2px rgb(255, 0, 0);

}
.subtitulo{
    font-size: 1.5rem;
    text-shadow: 0px 0px 1px rgb(255, 0, 0);
    margin: 1rem;
}
.iconos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
}
.container-icons{
    text-align: center;
    width: 5rem;
    height: 7rem;
    margin: 0 3rem;
}
.rol__primario{
    width: 4rem;
    height: 4rem;
}
.rol__secundario{
    width: 10rem;
    height: 10rem;
}
.clase{
    width: 5rem;
    height: 5rem;
}
.container-icons span{
    display: block;
    color: rgba(160, 63, 63, 0.87);
    text-shadow: 0px 0px 1px rgb(255, 0, 0);
    font-size: 1.2rem;
}
.container:hover{
    transform: scale(1.1);
    transition: all 300ms ease-in-out;
}
.container:hover .container-img img{
    transform: scale(1.1);
    transition: all 300ms ease-in-out;
}
